In [1]:
import pandas as pd

df = pd.read_csv('./test.csv')
df.head()

                                                  id
0  test_data_v2/1a2d9fd3e21b4266aea1f66b30aed157.jpg
1  test_data_v2/ab5df8f441fe4fbf9dc9c6baae699dc7.jpg
2  test_data_v2/eb364dd2dfe34feda0e52466b7ce7956.jpg
3  test_data_v2/f76c2580e9644d85a741a42c6f6b39c0.jpg
4  test_data_v2/a16495c578b7494683805484ca27cf9f.jpg

In [2]:
df.describe()

                                                       id
count                                                5540
unique                                               5540
top     test_data_v2/ba8f4198e8d74d3394fa56c56af23442.jpg
freq                                                    1